<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<servlet>
        <servlet-name>FirstServlet</servlet-name>
        <servlet-class>servlets.FirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForwardServlet</servlet-name>
        <servlet-class>servlets.ForwardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvServlet</servlet-name>
        <servlet-class>servlets.EnvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>servlets.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet2</servlet-name>
        <servlet-class>servlets.ImageServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DatabaseServlet</servlet-name>
        <servlet-class>servlets.DatabaseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlets.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>servlets.adminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>servlets.CartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImportServlet</servlet-name>
        <servlet-class>servlets.ImportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OderServlet</servlet-name>
        <servlet-class>servlets.OrderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>LogOut</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstServlet</servlet-name>
        <url-pattern>/first</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForwardServlet</servlet-name>
        <url-pattern>/forward</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvServlet</servlet-name>
        <url-pattern>/environment</url-pattern>
        <url-pattern>*.env</url-pattern>
        <url-pattern>/env/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet2</servlet-name>
        <url-pattern>/image2</url-pattern>
        <url-pattern>/image2/black</url-pattern>
        <url-pattern>/image2/green</url-pattern>
        <url-pattern>/image2/red</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DatabaseServlet</servlet-name>
        <url-pattern>/database</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/userservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/adminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImportServlet</servlet-name>
        <url-pattern>/import.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OderServlet</servlet-name>
        <url-pattern>/logout.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>